.hero{
    display: flex;
    align-items: center;
    padding-left: 2.8rem;
    padding-right: 2.8rem;
    margin: 0 5rem 0 5rem;
}
.hero-details{
    flex: 0 0 50%;
}
.hero-details a{
    text-decoration: none;
}
.hero-details h1{
    font-size: 3rem;
}
.hero-details .para{
    font-size: 14px;
    line-height: 1.5;
    margin: 1.5rem 0 2.5rem 0;
}
.primary-button{
    color: white;
    border: none;
    font-weight: 100;
    font-size: 1.2rem;
    border-radius: 40px;
    padding: 15px 30px;
    margin: 0px 2px;
    background-color: #2038d3;
    transition: all .3s linear;
}
.B2{
    color:#2038d3;
    background: none;
}
.B2 i{
    padding: 0px 3px;
}
.B1:hover{
    background: none;
    border: 1px solid #2038d3;
    color: #2038d3;
}
.B2:hover{
    background: #2038d3;
    color: white;
}
.logos{
    margin-top: 7rem;
}
p i{
    color: gray;
    padding: 0px 10px;
}
.hero-img{
    animation: jumping 1300ms infinite;
}

@keyframes jumping{
    0% {
        transform: translateY(7px);
    }
    50% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(7px);
    }
}
@media screen and (max-width:975px){
    .hero-details h1{
        font-size: 2.5rem;
    }
    .primary-button{
        font-size: 16px;
    }
}
@media screen and (max-width:899px){
    .hero{
        margin:2rem 3rem 0 3rem;
        flex-direction: column;
    }
    .hero-details{
        flex: 0 0 100%;
    }
}
@media screen and (max-width:575px){
    .hero{
        margin: 1.5rem 0 0 0;
        padding: 0 0 0 1.5rem;
    }
    .hero-details h1{
        font-size: 2rem;
    }
    .hero-details .para{
        font-size: 12px;
    }
    .primary-button{
        font-size: 13px;
    }
}